.skill-card{
    display: flex;
    text-align: left;
    flex-direction: column;
}

.description-container{
    display: flex;
}

.img-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skill-description{
    font-size: 1.5vw;
    /* width: 65%; */
    margin-top: 0px;
    margin-left: 20px;
}

@media (max-width: 999px){
    .skill-description{
        font-size: 2.5vw;
        margin-top: 0px;
    }
}