.icons-dynamic-bar{
    display: flex;
    
    white-space: nowrap;
  position: relative;
  animation: move 10s linear infinite;
}

.icon{
    height: 60px;
  width: 60px;
  margin: 0 10px;
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  transition: transform 0.3s;
    &:hover{
        cursor: pointer;
        background-color: var(--bg-hover);
        transform: scale(1.1);
    }
}

.icon-container {
    display: flex;
    align-items: center;
  }


@keyframes move {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Mueve la mitad del contenido */
    }
}