.top-title-section{
    display: flex;
    margin: auto;
    width: 90%;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    justify-content: space-between;
    gap: 20px;
    padding: 30px;
    background-color: var(--bg-color);
}

.top-title-section img{
    width: 30%;
}

@media (max-width: 799px){
    .top-title-section{
        display: flex;
        flex-direction: column;
    }
    .top-title-section img{
        width: 100%;
        border-radius: 10px;
        order: 1;
    }    
    .top-title-section-right{
        display: flex;
        flex-direction: column;
        width: 100% !important;
    }
    .links-container{
        order: 2;
    }
    .top-title-section-right{
        width: 100%;
    }
}

.top-title-image-container{
    width: 55% !important;
    text-align: center;
    align-content: center;
    border: none !important;
    img{
        width: 100%;
        margin: 10px;
        border-radius: 10px;
    }
}

.top-title-section-right{
    text-align: left;
    width: 65%;
    color: var(--text-color);
    h3{
        color: var(--description-color);
    }
}

.links-container{
    display:flex;
    gap: 20px;
    font-size: 1.5em;
    align-items: center;
}

.download-button{
    border: 1px solid var(--border-color);
    padding: 10px 10px;
    border-radius: 30px;
    background-color: var(--border-color);
    color: white;
    font-size: 0.6em;
    transition: 0.3s;
    &:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
}

i{
    text-align: center;
    align-items: center;
    align-content: center;
    border: 1px solid var(--text-color);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    transition: 0.3s;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
}