.top-title-section {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    grid-template-rows: auto auto;  /* Dos filas automáticas para ajustar el contenido */
    gap: 20px;
    width: 100%;
    margin: auto;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 30px;
    background-color: var(--bg-color);
}

/* Estilos de cada sección */
.top-title-section-left {
    grid-column: 1 / 2; /* Primera columna */
    grid-row: 1 / 3; /* Ocupa ambas filas de la primera columna */
    align-self: center;
}

.title-container {
    grid-column: 2 / 3; /* Segunda columna */
    grid-row: 1 / 2; /* Primera fila de la segunda columna */
    align-self: flex-start;
    text-align: left;
}

.top-title-section-right {
    grid-column: 2 / 3; /* Segunda columna */
    grid-row: 2 / 3; /* Segunda fila de la segunda columna */
    align-self: flex-start;
    color: var(--text-color);
}

.title-description {
    color: var(--description-color);
}

.top-title-image {
    width: 100%;
    border-radius: 10px;
}

/* Media Query para pantallas menores a 800px */
@media (max-width: 799px) {
    .top-title-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title-container {
        order: 1;
        width: 100%;
        text-align: center;
    }

    .top-title-section-left {
        order: 2;
        width: 100%;
    }

    .top-title-section-right {
        order: 3;
        width: 100%;
    }
}

.links-container {
    display: flex;
    gap: 20px;
    font-size: 1.5em;
    align-items: center;
    justify-content: flex-start;
}

.download-button {
    border: 1px solid var(--border-color);
    padding: 10px 10px;
    border-radius: 30px;
    background-color: var(--border-color);
    color: white;
    font-size: 0.6em;
    transition: 0.3s;
}

.download-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

i {
    text-align: center;
    align-items: center;
    align-content: center;
    border: 1px solid var(--text-color);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    transition: 0.3s;
}

i:hover {
    cursor: pointer;
    transform: scale(1.1);
}
