.contact-card-container{
    display: flex;
    justify-content: center;
}

.contact-form{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    input, textarea{
        height: 45px;
        border: none;
        border-radius: 10px;
    }
    textarea{
        height: 120px;
        resize: none;
        width: 100%;
    }
}

.send-buton{
    background-color: var(--border-color);
    font-size: 18px;
    height: 55px;
    width: 90px;
    border: none;
    border-radius: 10px;
    transition: 0.6 ease;
    &:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
}